.BlogTitle{
    font-family: 'Trocchi', serif;
font-weight: 400;
margin-bottom: 1rem;
}.Blogtext{
    font-size: 1rem;
    font-weight: 100;
    filter: blur(0.2px);
}.BlogButton{
    border: none;
    background-color: green;
    padding-top: 0.6rem;
    /* padding-bottom: 0.rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    border-radius: 8px;
    
    margin-top: 1rem;
}.BlogButton>p{
    background-color: white;
    height: 3px; visibility: hidden;
    transition: 0.5s;
    transform-origin: center;
    transform-style: preserve-3d;
    /* transform: translateX(5px); */
    /* transform:skewX(5px); */
    transform: scaleX(1);
}
.BlogButton:hover > p{
visibility: visible;
color: black;
}@media screen and (max-width: 800px){
    .blogimg{
        width: inherit;
    }
}